<div class="c-card-post">
    <a href="{{ post.url }}" class="c-card-post__media">
        <img src="{{ post.data.image }}" class="c-card-post__image lazyload" alt=" {{ post.data.imageAlt }} ">
    </a>
    <div class='c-card-post__meta'>       
        <time class='c-card-post__date' datetime="{{ post.date | htmlDateString }}">{{ post.date | postDate }}</time> 
        <!-- tags? -->
        <!-- <div class='c-page-header__tags'>
            {% for tag in post[tag] %}
                <a href="/blog/tag/{{ tag | slugify }}"> {{ tag }}</a>
            {% endfor %}
        </div> -->
        <div class='c-card-post__title'> 
            <a href="{{ post.url }}">{{ post.data.title}}</a> 
        </div>
    </div>
</div>