<!DOCTYPE html>
<!-- 
  Runnig on 11ty | written by CARLA PALOMA | share + create spiritual coding for a better world
“Do not repeat after me words that you do not understand. Do not merely put on a mask of my ideas, for it will be an illusion and you will thereby deceive yourself.”
― J. Krishnamurti
-->
<html lang="en">
  {% include 'head.njk' %}
<body>
  {% include 'header.njk'  %}
  <main>
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
</body>
{% set js %}
  {% include "script.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
</html>

