<footer class="c-footer">
  <div class="o-grid">
    <ul class="u-plain-list c-footer-nav">
      <li> 🔗  <a href="" class="c-social-link">Social </a></li>
      <li>🔗  <a href="" class="c-social-link">  Email </a></li>
    </ul>
  </div>
  <div class="o-grid">
    <div class="c-footer-copy">
      <!-- <div class="c-logo">
        <a href='/' class="u-block">
          <img class="c-logo__img" src='/assets/logom.svg' alt='Cosmic Order Ceramics Logo' width='' height=''>
        </a>
      </div> -->
        𓂀 Cosmic Order Ceramics 𓂀
    </div>
    <a href="https://www.etsy.com/shop/CosmicOrderCeramics" class="c-btn c-btn-purchase" target="_blank"><span>𐃢</span>Shop<span>𐃢</span></a>
  </div>
</footer>