<footer class="c-footer">
  <div class="o-grid">
    <div class="c-footer-copy">
      <h3> 𓂀 Stockists 𓂀 </h3>
      <ul  class="u-plain-list c-footer-nav">
        <li><a href="https://www.prooflab.com/" target="_blank"> Proof Lab Station (Mill Valley) | 244 Shoreline Hwy, 94941, Mill Valley </a> </li>
        <li><a href="https://www.genatural.com/" target="_blank"> Good Earth Natural Foods | 201 Flamingo Rd, Mill Valley, CA </a> </li>
      </ul>
      <!-- social + email -->
      <div class="o-grid">
        <ul class="u-plain-list c-footer-nav">
          <li> <a href="https://www.instagram.com/cosmicorderceramics/" class="c-social-link">@cosmicorderceramics </a></li>
          <li> <a href="" class="c-social-link">  info@cosmicorder.net </a></li>
        </ul>
      </div>
      <!-- copy -->
      <small>© 2022, <a href="/" title="">COSMIC ORDER CERAMICS</a></small>
        <!-- 𓂀 Cosmic Order Ceramics  𓂀 -->
    </div>
    <a href="https://cosmicorderceramics.bigcartel.com" class="c-btn c-btn-purchase" target="_blank"><span>𐃢</span>Shop<span>𐃢</span></a>
  </div>

</footer>