<header class="c-header">
  <a href="#main" class="c-skip">Skip to content</a>
  <div class="o-grid">
    <div class="c-header__inner">
      <div class="c-logo">
          <a href="/" class="u-block">
            <img class='c-logo__img c-logo__img-desktop' src='/img/logo.svg' alt='Cosmic Order Ceramics Logo Desktop' width='' height=''>
            <img class='c-logo__img c-logo__img-mobile' src='/img/logo-mobile.svg' alt='Cosmic Order Ceramics Logo' width='' height=''>
          </a>
      </div>
      <div class="c-nav-wrap">
        <ul class="c-nav u-plain-list">
            <li class="c-nav__item">
    <a href="/blog/" class="c-nav__link ">Blog</a>
  </li>
  <li class="c-nav__item">
    <a href="/" class="c-nav__link ">Author</a>
  </li>
  <li class="c-nav__item">
    <a href="/" class="c-nav__link ">Elements</a>
  </li>

        </ul>
      </div>

      <div class="js-nav-toggle c-nav-toggle">
        <span class="c-nav-toggle__icon"></span>
      </div>
    </div>
  </div>
</header>