<div class="c-header">
  <nav id="navbar" class="o-grid">
    <div class="c-header__inner">
      <!-- Navbar Logo -->
      <div class="logo">
        <a href="/">
        <img class='c-logo__img c-logo__img-desktop' src='/img/logo.svg' alt='Cosmic Order Ceramics Logo Desktop' width='' height=''>
        <img class='c-logo__img c-logo__img-mobile' src='/img/logo-mobile.svg' alt='Cosmic Order Ceramics Logo' width='' height=''>
      </a>
    </div>

  <!-- Navbar Links -->
  <ul id="menu-desktop" class="c-nav u-plain-list">
    <li class="c-nav__item--main"><a class="c-nav__link" href="/">Home</a></li>
    <li class="c-nav__item--main"><a class="c-nav__link" target="”_blank”" href="https://cosmicorderceramics.bigcartel.com">Shop</a></li>
    <li class="c-nav__item--main"><a class="c-nav__link" href="/blog/">Blog</a></li>
    <li class="c-nav__item--main"><a class="c-nav__link" href="/faqs/">FAQs</a></li>
    <li class="c-nav__item--main"><a class="c-nav__link" href="/about/">About</a></li>
    <li class="c-nav__item--main"><a class="c-nav__link" href="/contact/">Contact</a></li>
  </ul>
    </div>
</nav>

</div>

<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu">
  <ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a target="”_blank”" href="https://cosmicorderceramics.bigcartel.com">Shop</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/faqs/">FAQs</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
</div>