
/* typography */


.c-page-header__date {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--color-text-secondary);
}

.c-page-header__tags {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    margin-top: var(--space-16);
    color: var(--color-text-secondary);
}

.u-font-subHeading {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    font-weight: var(--font-weight-normal);
}

.c-page-header__meta {
    display: flex;
    margin-top: var(--space-8);
}

.u-drop-cap-large::first-letter {
    font-size: 106px;
    line-height: 74px;
}

.u-drop-cap-large:first-letter, .u-drop-cap-small:first-letter {
    float: left;
    margin-top: 13px;
    margin-right: var(--space-8);
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.kg-image-card {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    background-color: var(--color-background-secondary);
}

.kg-blockquote-alt, blockquote {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    font-weight: var(--font-weight-medium);
    padding: 0;
    /* position: relative; */
    quotes: "“" "”";
}

.kg-blockquote-alt:before, blockquote:before {
    content: open-quote;
    position: absolute;
    transform: translate3d(-100%,0,0);
}
/* article images */

.kg-width-wide {
    width: 100%;
}

.kg-card figcaption {
    width: 100%;
    padding-top: var(--space-8);
    color: var(--color-text-secondary);
    background-color: var(--color-background-primary);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

.kg-image-card {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    background-color: var(--color-background-secondary);
}

.kg-image {
    margin: auto;
}
/* 
.kg-width-full {
    max-width: 100%;
}   */

.kg-width-full :is(video,.kg-image) {
    max-width: 100vw;
}

.kg-width-full figcaption {
    padding-left: var(--space-16);
}

.kg-gallery-container {
    display:flex;
    flex-direction:column;
}

.kg-gallery-row {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.kg-gallery-row:not(:first-of-type) {
    margin-top:var(--content-flow);
}

.kg-gallery-image{
    background-color:var(--color-background-secondary);
}

.kg-gallery-image:not(:first-of-type) {
    margin-left:var(--content-flow);
}

.kg-gallery-image img{
    width:100%;
    height:100%;
}

.kg-embed-card {
    display:flex;
    align-items:center;
    flex-direction:column;
}

.kg-embed-card iframe{
    width:100%;
    height:100%;
    aspect-ratio:var(--ratio-16x9);}

/* article text */
u-drop-cap-large::first-letter {
    font-size: 106px;
    line-height: 74px;
}

.u-drop-cap-large:first-letter, .u-drop-cap-small:first-letter {
    float: left;
    margin-top: 13px;
    margin-right: var(--space-8);
}


/* BREAKPOINTS */
/* tablet  */
@media (min-width: 40em){
    .kg-width-wide {
        width: calc(100vw - calc(var(--grid-margin) * 2));
        max-width: calc(var(--grid-width) - calc(var(--grid-margin) * 2));
    }
}


/* mobile + tablet */
@media (max-width: 63.99em) { 
    .kg-blockquote-alt, blockquote {
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        font-weight: var(--font-weight-normal);
    }
}  