.c-header {
    padding: var(--space-32) 0;
    margin-bottom: var(--space-32);
}

.c-header__inner {
    display: flex;
    align-items: center;
    position: relative;
}
/* Add styling to the top navigation */

.c-logo {
margin-right: var(--space-24);
font-size: var(--font-size-large);
font-weight: var(--font-weight-medium);
}

/* Toggle Menu Icon Animation */
.menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
}

.menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
}

/* mobile menu .icon-bars animation */
@keyframes bottomBar {
    0% {width: 0px}
    50% {width: 15px}
    100% {width: 0px}
} @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
}
/* overlay menu */
.overlay-menu {
    background: var(--color-background-primary);
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: var(--space-2);
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    border-bottom: 4px dotted green;
    margin-bottom: automatically;
    z-index:1;
}
        
.overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
}
        
.overlay-menu li a {
    display: block;
    font-size: var(--font-size-base);
    letter-spacing: var(--font-letter-space);
/* opacity:inherit; */
    padding: var(--space-12) 0;
    text-align: left;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    -webkit-transition: 0.2s opacity 0.2s ease-out; 
    transition: 0.2s opacity 0.2s ease-out; 
}
        
.overlay-menu li a:hover,
.overlay-menu li a:active {
color: var(--color-background-secondary);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

/* / / / / / / 
/ /  desktop / /
/ / / */
@media (min-width: 64em) {
    .c-nav{
        display:flex;
        gap:var(--space-24);
        align-items: center;
        justify-content: flex-end;
    }

    .c-logo__img-mobile{
        display: none;
    }

    .u-plain-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .logo {
        margin-right: 25rem;
    }
}

/* / / / / / / 
/ /  mobile + tablet view / /
/ / / */

@media (max-width: 63.99em) {
    .c-nav__item {
        margin-bottom: var(--space-16);
    }

    #menu-desktop{
        display: none;
    }

    .c-logo__img {
        max-height: var(--space-56);
    }

    .c-logo__img-desktop {
        display: none;
    }

    .c-nav-wrap { 
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
        inset: 0;
        z-index: 10;
        width: 100%;
        height: 100vh;
        padding: var(--space-32) var(--grid-margin);
        background-color: var(--color-background-secondary);
        opacity: 0;
        transform: scale(.96);
        z-index: 10;
        width: 100%;
        height: 100vh;
        visibility: hidden;
        transform: scale(.96);
    }

    .c-nav {
        width: 100%;
        padding-right: var(--space-40);
    }

    .menuIcon {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 6%;
        top: 6%;
        height: var(--space-12);
        width: var(--space-24);
        z-index: 12;
    }
    /* Icon Bars MOBILE */
    .icon-bars {
        background: var(--color-text-primary);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    } 
    
    .icon-bars::before {
        background: var(--color-text-primary);
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        -webkit-transition: top 0.2s ease 0.3s;
        transition: top 0.2s ease 0.3s;
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }
    
    .icon-bars::after {
        margin-top: 0px;
        background: var(--color-text-primary);
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        -webkit-transition: top 0.2s ease 0.3s;
        transition: top 0.2s ease 0.3s;
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    } 
    
    .icon-bars.overlay::before {
        background: var(--color-text-primary);
        /* background: rgb(183, 199, 211); */
        width: 10px;
        /* animation: topBar 3s infinite 0.2s; */
        /* -webkit-animation: topBar 3s infinite 0s; */
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
        } @-webkit-keyframes topBar {
            0% {width: 0px}
            50% {width: 10px}
            100% {width: 0px}
        }
    } 


.c-nav__link:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: var(--space-2);
}
[aria-current=page]{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset:  var(--space-2);
}
[aria-current=page]:hover{
    text-decoration: none;
}
[aria-current=page]:focus-visible{
    text-decoration: none;
}