/*////////////////////
Homepage
/////////////////////// */
/* home article content*/

blockquote {
    font-style: italic;
    margin: 1rem 0 0 2rem;
    padding: 1.2rem;
    color: var(--color-text-secondary);
}

/* home image */

.c-feature-image-figure {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: var(--space-96);
    align-self: start;
    background-color: var(--color-background-secondary);
}

.c-feature-image-caption {
    width: 100%;
    padding-top: var(--space-8);
    color: var(--color-text-secondary);
    background-color: var(--color-background-primary);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

