---
title: About
layout: 'base.njk'
---
<div class="c-content">
    <h1>Artist's Story</h1>
    <figure class="kg-card kg-image-card kg-card-hascaption">
        <picture class="fslightbox-image-wrap">
            <source type="image/avif"
            srcset="/img/L6pU2sI4Jt-600.avif 600w, /img/L6pU2sI4Jt-1000.avif 1000w" sizes="100vw">
            <source type="image/jpeg"
            srcset="/img/L6pU2sI4Jt-600.jpeg 600w, /img/L6pU2sI4Jt-1000.jpeg 1000w" sizes="100vw">
            <img alt="Carla profile" style="content-visibility:auto" decoding="async" loading="lazy" class="kg-image"
            src="/img/L6pU2sI4Jt-600.jpeg" width="100%" height="100%">
        </picture>

    </figure>
    <p>
    Carla Paloma is a founder and ceramicist from Buenos Aires, Argentina. She studied Molecular Biology before moving to New Zealand after the collapse of her country. There, she became an art librarian and earned degrees in Applied Linguistics & Italian Film and Psychology (Cognitive Neuroscience). She is passionate about art, computers, spirituality, and anything related to brain/cognition and biology.
    </p>
    <p>In Japan, Carla discovered her love for pottery in the pottery village of Hagi. She taught in high schools and ran a small contemporary art gallery that connected her to the international art scene. After leaving Japan, Carla founded an artist residency program in Sausalito that lasted for six years.</p>
    <p>In 2021, Carla started Cosmic Order Ceramics and found inspiration in the god Medjed, whose modern and timeless style resonated with her. In 2023, she studied pottery with
    <a href="https://www.shunyoshinopotteryworks.com/" class="u-link" target="”_blank”">Shun Yoshino</a>
    in Hiroshima, Japan.</p>
    <p>These days, Carla is learning Blender to craft 3D printable prototypes destined for casting.</p>
</div>
