--- 
title: About
layout: 'base.njk'
---
<div class="c-content">
    <h1>Artist's Story</h1>
    <figure class="kg-card kg-image-card kg-card-hascaption">
        <picture class="fslightbox-image-wrap">
            <source type="image/avif" 
            srcset="/img/L6pU2sI4Jt-600.avif 600w, /img/L6pU2sI4Jt-1000.avif 1000w" sizes="100vw">
            <source type="image/jpeg" 
            srcset="/img/L6pU2sI4Jt-600.jpeg 600w, /img/L6pU2sI4Jt-1000.jpeg 1000w" sizes="100vw">
            <img alt="Carla profile" style="content-visibility:auto" decoding="async" loading="lazy" class="kg-image" 
            src="/img/L6pU2sI4Jt-600.jpeg" width="100%" height="100%">
        </picture>
        
    </figure>
<p>Carla Paloma is a founder, a pottery instructor, and a ceramicist from Buenos Aires, Argentina. 
<p> In Buenos Aires, Carla studied Molecular Biology.  </p>
<p> When her country collapsed, she decided to move to New Zealand where she became an art librarian. While in New Zealand, Carla graduated with two interesting degrees: Applied Linguistics & Italian Film and Psychology (Cognitive Neuroscience). Carla loves Felinni's films, besides anything related to brain/cognition and biology. </p>
<p> In 2013 she moved to Japan, and visited Hagi, a pottery village. There she fell in love with pottery. Her Japanese life was busy and rewarding, from teaching in high schools to running a small contemporary art gallery which connected her to the international art scene -- fancy. After Japan, in 2014, Carla founded an artist residency program in Sausalito, which lasted 6 years.</p>
<p> In 2021, she started Cosmic Order Ceramics while binging on Egypt documentaries. Carla felt a strong connection to the god Medjed because of his modern and timeless style. </p>
<p> Her obsession with making pottery items offered her an opportunity to become an instructor in Mill Valley.</p>
<p> These days, besides working on Cosmic Order Ceramics, she teaches pottery to teenagers and adults.</p>
</div>