---
title: Blog
layout: 'base.njk'
---

<header class='c-page-header'>
  <div class='o-grid o-grid--2-columns'>
    <h1 class='c-page-header__heading u-font-heading'>Blog</h1>
  </div>
</header>

<!-- all posts -->
<div class="o-grid o-grid--3-columns">
  {%- for post in collections.post | reverse -%}
    {% include 'all-posts.njk' %}
  {%- endfor -%}
</div>

