---
title: Contact
layout: 'base.njk'
---


<div class="c-grid"> 
    <h1>Contact</h1>
    <p><strong>ELECTRONIC MAIL:</strong></p>
    <p>
        <a href="mailto:info@cosmicorder.net" class="u-link" target="_blank" rel="noopener noreferrer">
            info@cosmicorder.net
        </a>
    </p>
    <p><strong>INERT INSTAGRAM:</strong></p>
    <p>
        <a href="https://www.instagram.com/cosmicorderceramics/" class="u-link" target="”_blank”">
            @cosmicorderceramics
        </a>
    </p>
</div>