---
layout: 'base.njk'
title: faqs
---
<div class='c-content faqs'>  
    <section>
        <h1>Special note on variations:</h1>
        <p>All mugs made as identical as possible, 
            but due to clay shrinkage and the nature of handmade process, 
            the pieces may vary in size, color, and thickness. 
            All mugs look related yet with a wabi-sabi touch that makes each piece unique.
        </p>
    </section>
    <div class="wrapper">
        <h1> Frequently Asked Questions </h1>
        <div class="wrap-1">
            <input type="radio" id="tab-1" name="tabs">
            <label for="tab-1">
                <div>Is this pottery durable?</div>
                <div class="cross"></div></label>
            <div class="q-content">
                Yes, and you could benefit from using it mindfully. Pottery is breakable. You do not need to handle Cosmic Order pottery differently from other pottery.
            </div>
        </div>
        
        <div class="wrap-2">
            <input type="radio" id="tab-2" name="tabs">
            <label for="tab-2">
                <div>Does it contain lead?</div>
                <div class="cross"></div></label>
        <div class="q-content">
            All pieces are lead free | I only used food safe glazes.
        </div>
        
        <div class="wrap-3">
            <input type="radio" id="tab-3" name="tabs">
            <label for="tab-3">
                <div>Do you take custom orders?</div>
                <div class="cross"></div></label>
            <div class="q-content">
                Yes, custom orders can be discussed. 
                Note that there are size limitations: max width 8". Allow 2 to 3 weeks for completion. 
            </div>
        </div>

        <div class="wrap-4">
            <input type="radio" id="tab-4" name="tabs">
            <label for="tab-4">
                <div>Is it dishwasher and microwave safe?</div>
                <div class="cross"></div></label>
            <div class="q-content">
                Yes.
            </div>
        </div>

        <div class="wrap-5">
            <input type="radio" id="tab-5" name="tabs">
            <label for="tab-5">
                <div>Who is that weird character?</div>
                <div class="cross"></div></label>
            <div class="q-content">
                Medjed In Ancient Egyptian religion, Medjed is a god mentioned in the Book of the Dead. 
                His ghost-like portrayal in illustrations on the Greenfield papyrus earned him popularity in modern Japanese culture, 
                including as a character in video games and anime.
                <p>
                    <a href="https://en.wikipedia.org/wiki/Medjed" class="u-link" target="”_blank”">
                        /wiki/Medjed
                    </a>
                </p>
            </div>
        </div>    
</div>

