---
title: Cosmic Order Ceramics | Home
layout: 'base.njk'
---
<!-- Hero section -->
<section> 
  <div class='o-grid o-grid--2-columns'>
    <article class='c-content c-content--home c-content--no-margin'>
      <h1 class="u-font-heading">Cosmic Order Ceramics is a  California  handmade pottery brand </h1>
      <h2 class='u-font-subHeading'> 
        The pieces are made with reclaimed clay  ●  All functional pieces are dishwasher and microwave safe
      </h2>
      </br>
      <p> I make each piece while on board in a houseboat, then I transport them by bicycle to a community studio to fire.</p>
      <p> The process is slow, meditative and enjoyable.  the inspiration to make artwork comes from seasonal changes & surrounding landscapes. </p>
      <p> Besides functional pottery I make small sculptures and vases.</p>   
      </br>
      <p> 🔗 <a href="https://www.etsy.com/shop/CosmicOrderCeramics" class="u-link" target="_blank" rel="noopener noreferrer"><strong>Etsy Shop</strong> </a>  — at times on vacation break to focus on producing more artworks.</p>
      <p>For inquiries please email:
      <span>
        <em>
          <a href="mailto:info@cosmicorder.net" class="u-link" target="_blank" rel="noopener noreferrer">
            <strong>info@cosmicorder.net</strong>
          </a>
        </em>
      </span>
      </p>
      </br>
      <h3> On living in the Bay Area:</h3>
      <p>
          "One soft humid early spring morning driving a winding road across Mount Tamalpais, 
          the 2,500-foot mountain just north of the Golden Gate Bridge, a bend reveals a sudden vision of San Francisco in shades of blue, a city in a dream, 
          and I was filled with a tremendous yearning to live in that place of blue hills and blue buildings, though I do live there, 
          I had just left there after breakfast."
      </p>
      <p>Rebecca Solnit, A Field Guide to Getting Lost.</p>
    </article>
    <figure class='c-feature-image-figure'>
      <img
        alt="placeholder"
        class='c-feature-image lazyload'
        src="https://www.elmergomer.com/images/EG-WORK-COLLAGES-1-VERTICAL.jpg"
      >
        <figcaption class='c-feature-image-caption'><em>A pottery image</em></figcaption>
    </figure>
  </div>
</section>

<!-- Featured posts -->
<section>
  <div class='c-section c-section--featured-posts'>
    <div class='o-grid'>
      <div class='c-section-headline'>
        <h2 class='c-section-headline__title'>Featured Posts</h2>
      </div>
    </div>

    <div class='o-grid o-grid--2-columns'>
      {%- for post in collections.featured | reverse -%}
      {% include 'featured-posts.njk' %}
    {%- endfor -%}
    </div>
  </div>
</section>

<!-- recent posts -->
<section>
  <div class="c-section c-section--recent-posts">
    <div class="o-grid">
      <div class="c-section-headline">
        <h2 class="c-section-headline__title">
          Recent Posts
        </h2>
        <a href="/blog/" class="u-link u-font-size-small u-font-uppercase u-font-letter-space ">View all</a>  
      </div>
      <!-- articles grid  -->
      <div class="o-grid o-grid--3-columns">
        <!-- cards -->
        {%- for post in collections.post | reverse -%}
          {% include 'all-posts.njk' %}
        {%- endfor -%}
        </div>
    </div>
  </div>
</section>