---
title: Cosmic Order Ceramics | Home
layout: 'base.njk'
---
<!-- Hero section -->
<section> 
  <div class='o-grid o-grid--2-columns'>
    <article class='c-content c-content--home c-content--no-margin'>
      <h1 class="u-font-heading">Cosmic Order Ceramics is a  California  handmade pottery brand. </h1>
      <h2 class='u-font-subHeading'> 
        Items are made with reclaimed clay  ●  This pottery is dishwasher and microwave safe.
      </h2>
      </br>
      <p> I make each piece while on board in a Californian old houseboat, then I transport them by bicycle to a community studio to fire.</p>
      <p> The process is slow, meditative and enjoyable.  The inspiration to make artwork is mostly site specific.</p>
      <p> Besides functional pottery I make small sculptures and vases.</p>   
      </br>
      <p> 🔗 <a href="https://cosmicorderceramics.bigcartel.com" class="u-link shop-link" target="_blank" rel="noopener noreferrer"><strong> Link to Shop</strong></a> 🔗</p>
      <p>For inquiries please email:
      <span>
        <em>
          <a href="mailto:info@cosmicorder.net" class="u-link" target="_blank" rel="noopener noreferrer">
            <strong>info@cosmicorder.net</strong>
          </a>
        </em>
      </span>
      </p>
    <!-- newsletter -->
      <div class="c-subscribe">
        <p>For the occasional email, to get notified about new fun collections - add your email here: </p>
        <form  action="https://tinyletter.com/cosmicorderceramics" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cosmicorderceramics', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <div class="c-form-group">
            <p>
              <label for="tlemail" class="u-screenreader">Enter your email address</label>
            </p>
            <p>
              <input type="text"  name="email" id="tlemail" class="c-form-group__input"/>
            </p>
            <input type="hidden" value="1" name="embed"/>
            <button type="submit" value="Subscribe" class="c-btn c-form-group__btn">
              Subscribe
            </button>
          </div>
        </form>  
      </div>
    </article>
    <figure class='c-feature-image-figure'>
      <picture><source type="image/avif" srcset="/img/pGJmvMERyJ-600.avif 600w, /img/pGJmvMERyJ-1000.avif 1000w" sizes="100vw">
        <source type="image/jpeg" srcset="/img/pGJmvMERyJ-600.jpeg 600w, /img/pGJmvMERyJ-1000.jpeg 1000w" sizes="100vw">
        <img alt="Collage of Cosmic Order Brand Story" style="content-visibility:auto" decoding="async" loading="lazy" class="c-feature-image lazyloaded" src="/img/pGJmvMERyJ-600.jpeg" width="1000" height="1777"></picture>
    </figure>
</div>
</section>

<!-- Featured posts -->


<!-- recent posts -->
<section id="blog">
  <div class="c-section">
    <div class="o-grid">
      <div class="c-section-headline">
        <h2 class="c-section-headline__title">
          Recent Posts
        </h2>
        <a href="/blog/" class="u-link u-font-size-small u-font-uppercase u-font-letter-space ">View all</a>  
      </div>
      <!-- articles grid originally o-grid--3-columns  -->
      <div class="o-grid o-grid--2-columns">
        <!-- cards -->
        {%- for post in collections.post | reverse -%}
          {% include 'all-posts.njk' %}
        {%- endfor -%}
        </div>
    </div>
  </div>
</section>